name: Brasilismo Search

on:
  push:
    branches: [ 'main' ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Cache Cargo
        uses: Swatinem/rust-cache@v2

      - name: Install Trunk
        run: cargo install trunk

      - name: Cargo Check
        run: cargo check --target wasm32-unknown-unknown

      - name: Trunk Build
        run: trunk build --release
